themes/*
!themes/twitch-theme
uploads
plugins/index.php
plugins/gutenberg
plugins/askismet
plugins/wp-core-contributions-widget
plugins/gutenberg-block-level-locking
plugins/user-switching
plugins/advanced-custom-fields-pro
plugins/create-block-theme
plugins/**/build
plugins/wordpress-beta/tester
plugins/advanced-query-loop
plugins/kodex-posts-likes
plugins/term-selector
plugins/code-block-pro
node_modules
vendor
debug.log
.vscode
.DS_Store
