<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"inherit":false,"wideSize":"","contentSize":"1000px"}} -->
<div class="wp-block-group"><!-- wp:columns -->
	<h1>THIS IS THE STREAMS ARCHIVE</h1>
	<div class="wp-block-columns"><!-- wp:column {"width":"75%"} -->
	<div class="wp-block-column" style="flex-basis:75%"><!-- wp:query {"queryId":21,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"layout":{"inherit":true}} -->
	<div class="wp-block-query"><!-- wp:post-template -->
	<!-- wp:post-title /-->

	<!-- wp:post-date /-->
	<!-- /wp:post-template -->

	<!-- wp:query-pagination -->
	<!-- wp:query-pagination-previous /-->

	<!-- wp:query-pagination-numbers /-->

	<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination --></div>
	<!-- /wp:query --></div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"25%","style":{"spacing":{"padding":{"left":"15px"}}}} -->
	<div class="wp-block-column" style="padding-left:15px;flex-basis:25%"><!-- wp:heading -->
	<h2 id="tags-i-don-t-have">Tags I don't have</h2>
	<!-- /wp:heading -->

	<!-- wp:tag-cloud /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer"} /-->
