<!-- wp:paragraph {"fontSize":"gigantic"} -->
<p class="has-gigantic-font-size">Heading 2 - Gigantic</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"huge"} -->
<p class="has-huge-font-size">Heading 3 - Huge</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-large"} -->
<p class="has-x-large-font-size">Heading 4 - Extra large</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"large"} -->
<p class="has-large-font-size">Heading 5 - Large</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Heading 6 - Medium</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text Paragraph text </p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><li>List text - small</li><li>List text - small</li><li>List text - small</li><li>List text - small</li><li>List text - small</li></ul>
<!-- /wp:list -->

<!-- wp:cover {"customOverlayColor":"#ff7b00","isDark":false} -->
<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#ff7b00"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"colossal"} -->
<p class="has-text-align-center has-colossal-font-size">Cover block - Colossal</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->
