{
	"apiVersion": {{apiVersion}},
	"name": "{{namespace}}/{{slug}}",
	"version": "{{version}}",
	"title": "{{title}}",
	"category": "{{category}}",
	"description": "{{description}}",
	"supports": {
		"html": false
	},
	"textdomain": "{{namespace}}",
	"editorScript": "file:../../../../build/{{slug}}.js",
	"editorStyle": "file:../../../../build/{{slug}}.css",
	"style": "file:../../../../build/style-{{slug}}.css"
}
